<section class="overlape" >
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid"  >
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header" >
                        <h3>Welcome {{currentUser.fullname}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block remove-top">
        <div class="container">
             <div class="row no-gape">
                 <aside class="col-lg-3 column border-right">
                     <div class="widget">
                         <div class="tree_widget-sec">
                             <ul>
                                 <li><a routerLink='/profile' title=""><i class="la la-file-text"></i>My Profile</a></li>
                                 <li><a  routerLink='/resumer' title=""><i class="la la-briefcase"></i>My Resume</a></li>
                                <li><a href="candidates_shortlist.html" title=""><i class="la la-money"></i>Shorlisted Job</a></li>
                                <li><a href="candidates_applied_jobs.html" title=""><i class="la la-paper-plane"></i>Applied Job</a></li>
                                <li><a href="candidates_job_alert.html" title=""><i class="la la-user"></i>Job Alerts</a></li>
                                <li><a href="candidates_cv_cover_letter.html" title=""><i class="la la-file-text"></i>Cv & Cover Letter</a></li>
                                <li><a href="candidates_change_password.html" title=""><i class="la la-flash"></i>Change Password</a></li>
                                <li><a href="#" title=""><i class="la la-unlink"></i>Logout</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="widget">
                         <div class="skill-perc">
                             <h3>Skills Percentage </h3>
                             <p>Put value for "Cover Image" field to increase your skill up to "15%"</p>
                             <div class="skills-bar">
                                 <span>85%</span>
                                 <div 
                                     class="second circle" 
                                     data-size="155"
                                     data-thickness="60">
                                </div>
                             </div>
                         </div>
                     </div>
                 </aside>
                 <div class="col-lg-9 column">
                     <div class="padding-left">
                         <div class="manage-jobs-sec">
                             <div class="border-title"><h3>Candidates Dashboard</h3><a href="#" title=""><i class="la la-plus"></i> Add Education</a></div>
                             <div class="edu-history-sec">
                                 <div class="edu-history">
                                     <i class="la la-graduation-cap"></i>
                                     <div class="edu-hisinfo">
                                         <h3>University</h3>
                                         <i>2008 - 2012</i>
                                         <span>Middle East Technical University <i>Computer Science</i></span>
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                     </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                                 <div class="edu-history">
                                     <i class="la la-graduation-cap"></i>
                                     <div class="edu-hisinfo">
                                         <h3>High School</h3>
                                         <i>2008 - 2012</i>
                                         <span>Tomms College <i>Bachlors in Fine Arts</i></span>
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                     </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                             </div>
                             <div class="border-title"><h3>Work Experience</h3><a href="#" title=""><i class="la la-plus"></i> Add Experience</a></div>
                             <div class="edu-history-sec">
                                 <div class="edu-history style2">
                                     <i></i>
                                     <div class="edu-hisinfo">
                                         <h3>Web Designer <span>Inwave Studio</span></h3>
                                         <i>2008 - 2012</i>
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                     </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                                 <div class="edu-history style2">
                                     <i></i>
                                     <div class="edu-hisinfo">
                                         <h3>CEO Founder <span>Inwave Studio</span></h3>
                                         <i>2008 - 2012</i>
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                     </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                             </div>
                             <div class="border-title"><h3>Portfolio</h3><a href="#" title=""><i class="la la-plus"></i> Add Portfolio</a></div>
                             <div class="mini-portfolio">
                                 <div class="mp-row">
                                     <div class="mp-col">
                                         <div class="mportolio"><img src="../assets/images/resource/p1.jpg" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                                         <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                     </div>
                                     <div class="mp-col">
                                         <div class="mportolio"><img src="../assets/images/resource/p2.jpg" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                                         <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                     </div>
                                     <div class="mp-col">
                                         <div class="mportolio"><img src="../assets/images/resource/p3.jpg" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                                         <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                     </div>
                                     <div class="mp-col">
                                         <div class="mportolio"><img src="../assets/images/resource/p4.jpg" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                                         <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                     </div>
                                 </div>
                             </div>
                             <div class="border-title"><h3>Professional Skills</h3><a href="#" title=""><i class="la la-plus"></i> Add Skills</a></div>
                             <div class="progress-sec">
                                 <div class="progress-sec with-edit">
                                     <span>Adobe Photoshop</span>
                                     <div class="progressbar"> <div class="progress" style="width: 80%;"><span>80%</span></div> </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                                 <div class="progress-sec with-edit">
                                     <span>Production In Html</span>
                                     <div class="progressbar"> <div class="progress" style="width: 60%;"><span>60%</span></div> </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                                 <div class="progress-sec with-edit">
                                     <span>Graphic Design</span>
                                     <div class="progressbar"> <div class="progress" style="width: 75%;"><span>75%</span></div> </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                             </div>
                             <div class="border-title"><h3>Professional Skills</h3><a href="#" title=""><i class="la la-plus"></i> Add Skills</a></div>
                             <div class="edu-history-sec">
                                 <div class="edu-history style2">
                                     <i></i>
                                     <div class="edu-hisinfo">
                                         <h3>Perfect Attendance Programs</h3>
                                         <i>2008 - 2012</i>
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                     </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                                 <div class="edu-history style2">
                                     <i></i>
                                     <div class="edu-hisinfo">
                                         <h3>Top Performer Recognition</h3>
                                         <i>2008 - 2012</i>
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                     </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                                 <div class="edu-history style2">
                                     <i></i>
                                     <div class="edu-hisinfo">
                                         <h3>King LLC</h3>
                                         <i>2008 - 2012</i>
                                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                     </div>
                                     <ul class="action_job">
                                         <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                         <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                     </ul>
                                 </div>
                             </div>
                         </div>
                     </div>
                </div>
             </div>
        </div>
    </div>
</section>

<div class="account-popup-area border-title-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>User Login</h3>
		<span>Click To Login With Demo User</span>
		<div class="select-user">
			<span>Candidate</span>
			<span>Employer</span>
		</div>
		<form>
			<div class="cfield">
				<input type="text" placeholder="Username" />
				<i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input type="password" placeholder="********" />
				<i class="la la-key"></i>
			</div>
			<p class="remember-label">
				<input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
			</p>
			<a href="#" title="">Forgot Password?</a>
			<button type="submit">Login</button>
		</form>
		<div class="extra-login">
			<span>Or</span>
			<div class="login-social">
				<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
				<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</div><!-- LOGIN POPUP -->